.profile_page {
    width: 100%;
    height: 100vh;
    .navbar {

    }
    .content {

    }
    .link {
        text-decoration: none;
        color: rgb(2, 119, 253);
        margin: 0 5px;
    }
}

