* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  box-sizing: border-box
}

@import "@scss";

.root_page {
  width: 100%;
  font-size: $fs_medium;
  .body_container {
    width: 100%;
    height: 100vh;
    background-color: $cl_body_main;
    display: flex;
    justify-content: center;
    .body_container_center {
      width: $maxW;
      height: 100%;
    }
  }
}