@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@700&display=swap');
$f_brand: 'Goldman', cursive;
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
$f_feature: 'Kanit', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Anybody:wght@600&display=swap');
$f_title: 'Anybody', cursive;
